.main-container {
    margin-top: 20px;
}

.modal-90w {
    width: 90vw;    /* Occupy the 90% of the screen width */
    max-width: 90vw;
}

@media screen and (max-width: 600px) {
    .icon-text {
        display: none;
    }
}
