.bottom-section {
  margin-top: 1em;
  display: flex;
  justify-content: flex-end;
}

.main-container {
  margin-top: 20px;
}

.modal-width {
  width: 95vw; /* Occupy the 95% of the screen width */
  max-width: 95vw;
}

@media screen and (max-width: 600px) {
  .icon-text {
    display: none;
  }
}
