.cat-selection-label-container {
    width: 20%;
}

.cat-selection-search-container {
    width: 80%;
}

.faq-selection-container {
    display: flex;
    flex-direction: column;
}

.faq-source-container {
    font-size: small;
    font-style: italic;
}

@media screen and (max-width: 1100px) {
    .cat-selection-label {
        display: none;
    }

    .cat-selection-label-container {
        width: 15%;
    }
    
    .cat-selection-search-container {
        width: 85%;
    }
}