.question-container {
    margin: 1em;
}

.answer-container {
    max-height: 100%;
    border-bottom: 5em;
    margin-top: 2em;
}

.answer-contents {
    height: 90%;
    overflow: auto;
    padding: 0.5em 0;
}

.answer-item-timestamp {
    font-size: smaller;
    color: gray;
}
