.answer-additional-faqs-container {
    margin: 1em 0;
}

.answer-findhcp-container {
    margin-top: 1em;
}

.answer-question-container {
    margin-bottom: 1em;
}

.answer-showsps-container {
    margin-top: 0.5em;
    padding: 0.5em;
    border-style: solid;
    border-width: thin;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.answer-user-buddy {
    font-weight: bold;
    color: blue;
}

.answer-user-user {
    font-weight: bold;
    color: salmon;
}

.current-location-container {
    font-size: small;
}

.individual-name {
    color: #007bff;
    font-weight: bold;
}

.individual-prof {
    /* font-style: italic; */
    font-size: small;
}


.no-specialists-container {
    color: chocolate;
    font-weight: bold;
}

.query-error-container {
    color: red;
    font-style: italic;
}

.specialist-container {
    margin: 1em 0;
}

.workplace-address {
    color: grey;
    margin-top:0.5em;
}