.answer-additional-faqs-container {
  margin: 1em 0;
}

.answer-question-container {
  margin-bottom: 1em;
}

.answer-user-buddy {
  font-weight: bold;
  color: blue;
}

.answer-user-user {
  font-weight: bold;
  color: salmon;
}