.answer-additional-faqs-container {
    margin: 1em 0;
}

.answer-findhcp-container {
    margin-top: 1em;
}

.answer-question-container {
    margin-bottom: 1em;
}

.answer-showsps-container {
    margin-top: 0.5em;
    padding: 0.5em;
    border-style: solid;
    border-width: thin;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.answer-user-buddy {
    font-weight: bold;
    color: blue;
}

.answer-user-user {
    font-weight: bold;
    color: salmon;
}

.current-location-container {
    font-size: small;
}

.distance-unit-container {
    align-items: center;

}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.no-specialists-container {
    color: chocolate;
    font-weight: bold;
}

.query-error-container {
    color: red;
    font-style: italic;
}

.specialist-container {
    margin: 1em 0;
}