.card-container {
  margin: 0.5em;
}

.jumbotron-button-container {
  display: flex;
}

.jumbotron-button-container button {
  margin-right: 1em;
  width: 15em;
}

@media screen and (max-width: 600px) {
  .jumbotron-button-container button {
    width: 50%;
  }
}
